$smallest-screen: screen and (max-width: 500px);
$small-screen: screen and (max-width: 1000px);
$big-screen: screen and (min-width: 1001px);

// COLORS
$color-grey--extra-dark: #133337;
$color-grey--dark: #133337;
$color-grey--light: #133337;
$color-grey--extra-light: #133337;

$color-purple--extra-dark: #133337;
$color-purple--dark: #133337;
$color-purple--light: #133337;
$color-purple--extra-light: #133337;

$color-red--extra-dark: #133337;
$color-red--dark: #133337;
$color-red--light: #133337;
$color-red--extra-light: #133337;

$color-yellow--extra-dark: #133337;
$color-yellow--dark: #133337;
$color-yellow--light: #133337;
$color-yellow--extra-light: #133337;

$color-green--extra-dark: #133337;
$color-green--dark: #133337;
$color-green--light: #133337;
$color-green--extra-light: #133337;

$color-blue--extra-dark: #133337;
$color-blue--dark: #133337;
$color-blue--light: #133337;
$color-blue--extra-light: #133337;

