@import "_buttons.scss";
@import "_input.scss";
@import "_typography.scss";
@import "_variables.scss";

body {
  *, *:before, *:after  {
    box-sizing: border-box;
  }
}

.sr-only {
  opacity: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

